@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@300&display=swap');

body {
    background-size: cover; 
    margin: 0;
    background-color: #262626;
    background-repeat: no-repeat;

}
article{
    display:flex;
    flex-direction:row;
}
article .left{
    display:flex;
    flex-direction:column;
    width:61%;
}
article .left h1{
    font-size: 65px;
    font-family:nunito;
    color:white;
    margin-left: 20px;
}
article .left a{
    text-decoration:none;
    background-color:#505690;
    color: white;
    font-family:nunito;
    font-size: 18px;
    margin-left:20px;
    padding: 15px;
    width:fit-content;
}

.vectorwrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.zwrapper {
    z-index: 100;
    position: relative;
}

.vector {
    position: absolute;
    top:0%;
    size: 500%;
}

#vector1 {
    z-index: -1;
}
#vector2 {
    z-index: -2;
}
#vector3 {
    z-index: -3;
}
#vector4 {
    z-index: -4;
}
#vector5 {
    z-index: -5;
}
#vector6 {
    z-index: -6;
}
#vector7 {
    z-index: -7;
}
#vector8 {
    z-index: -8;
}
#vector9 {
    z-index: -9;
}