@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@300&display=swap');

body {
    background-size: cover; 
    margin: 0;
    background-color: #262626;
    background-repeat: no-repeat;

}
article{
    display:flex;
    flex-direction:row;
}
article .left{
    display:flex;
    flex-direction:column;
    width:61%;
}
article .left h1{
    font-size: 65px;
    font-family:nunito;
    color:white;
    margin-left: 20px;
}
article .left a{
    text-decoration:none;
    background-color:#505690;
    color: white;
    font-family:nunito;
    font-size: 18px;
    margin-left:20px;
    padding: 15px;
    width:fit-content;
}

.vectorwrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
}

.zwrapper {
    z-index: 100;
    position: relative;
}

.vector {
    position: absolute;
    top: -25%
}

#vector1 {
    z-index: -1;
    width:20%;
    height: 70%;
}
#vector2 {
    z-index: -2;
    width:25%;
    height: 75%;
}
#vector3 {
    z-index: -3;
    width:30%;
    height: 80%;
}
#vector4 {
    z-index: -4;
    width:35%;
    height: 85%;
}
#vector5 {
    z-index: -5;
    width:40%;
    height: 90%;
}
#vector6 {
    z-index: -6;
    width:45%;
    height: 95%;
}
#vector7 {
    z-index: -7;
    width:50%;
    height: 100%;
}
#vector8 {
    z-index: -8;
    width:55%;
    height: 105%;
}
#vector9 {
    z-index: -9;
    width:60%;
    height: 110%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: rgba(0, 0, 0, 0);
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0);
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color: white;
  }

  #g1:before {
    content: "“A Great Place to Get your Site Built”";
  }

  #g2:before {
    content: "“All my Website Worries Melt Away”";
  }

  #g3:before {
      content: "“Covering your Every Need”";
  }

  #g4:before {
      content: "“Luminosity Reponds Eeriely Fast!”";
  }

  #g5:before {
      content: "“Discover the Power of the Web”";
  }

  
