@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@300&display=swap');
body{
    margin:0;
    background-color:black;
}
header{
    display:flex;
    flex-direction:row;
    width:100%;
}
nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    margin-top:20px;
}
nav .left{
    display:flex;
    flex-direction:row;
}
nav .left img{
    width:70px;
    height:70px;
    margin-left:20px;
}
nav .left h4{
    color:white;
    font-size: 25px;
    font-family:Nova Flat;
    margin: 9% 10px;

}
nav .right{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;

}
nav .right h4{
    font-size: 20px;
    font-family:nunito;
    margin: 3% auto;
}
nav .right a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 40px;
}